@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600&family=Oswald:wght@300;400&family=Playfair+Display&family=Raleway:wght@100&display=swap');
body{
    margin: 0pt;padding: 0pt;
}

*{
    font-family:sans-serif;
    width: 800;
}
.App{
    display: flex;
}

